
@font-face {
  font-family: 'Heading1';
  src: url('../fonts/NeueHaasDisplayXThin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.signika-font {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"GRAD" 0;
}

.space-grotesk-groteskfont {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body{
    background: #1A1A1A ;
    margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 103;
    font-style: normal;
  }
  

header{
  position: sticky;
  top: 0;
}

nav{
  background: rgba(255, 255, 255, 0);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    

}

nav a, footer a{
  position: relative;
  text-decoration: none;
}

nav a::before, footer a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

nav a:hover::before, nav a:focus::before, footer a:focus::before, footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

a{
    color: white;
    font-family: Inter;
    font-size: 1rem;
    text-decoration: none;


}

.button{
  background: none;
  background-color:#647CD4;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;


  transition: 0.5s;

  

}

.button:hover, .button:focus{
  background-color:#4a5c9d;
  

}

h1{
    text-align: center;
    font-size: 6rem;
    margin-bottom: -0.5rem;
    font-family: 'Heading1';

    color: white;
}

p, ul{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
}


.about-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  max-width: 100%;

}

.img-link:hover, .img-link:focus {
  border-style: solid;
  border-color: white;
  opacity: 70%;
}

.context-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;

}


.about-section p{
  width: 60vw;
  margin-top: 0;
  

}
.title p{
  font-family: 'Signika';
  color: white;
  text-align: center;
  font-size: 2rem;
}

h2{
    font-family: 'Inter';
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

.hero-description{
    width: 50%;
    text-align: center;
    margin: auto;
    color: white;
    font-family:'Montserrat';
}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3{
  font-family: 'Roboto';
  color: white;
  font-size: 2rem;
}

  section{
    margin-bottom: 9rem ;
  }

  .project{
    display: flex;
    justify-content: space-between;
    width: 90%;
   

    border-style: solid;
    border-radius: 2.813rem;
    padding: 2rem 2rem 2rem 2rem;
    margin: auto;
    margin-bottom: 2rem;
    background-color: rgb(47, 45, 45);
    color: white;
    
  }

  .project-section h2{
    text-align: center;
  }
  .project-description{
    display: flex;
    flex-direction: column;

    
  }
  .project h3{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
  }


  .project h4{
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 500;
    
    margin-top: 0.5rem;
  
    font-size: 1.5rem;
  }



  .project a{
    width: 8vw;
    padding: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    
  }



  .project-overview img:hover, .project-overview img:focus{
    opacity: 1;
    border-style: solid;
    border-color: white;
  }

  footer {
    background-color:#1A1A1A;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    justify-content: space-around;
    align-content: center;
    
   
  }
 
  .contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:start;
    align-items: center;

  }
  footer p{
    color: white;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: bold;
  
  }

  
  
  footer a{
    font-family: Helvetica, sans-serif;
    font-weight: normal;

  }

  

  .line{
    background-color: white;
    width: 100%;
    height: 0.3vh;
    margin-bottom: 2rem;

  }
  footer h3{
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
  }

  .orbitron-font {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
.about{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  
}

.skills{
  grid-column: 3 / span 2;
}

.wireframe-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3vw;
  margin-bottom: 2rem;
  justify-items: center;

}

.final-images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  
  gap: 2rem;
  justify-items: center;
  
}

h4{  
  font-family: 'Roboto';
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
}


.final-outcome{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-items: center;

  
}
.product-wireframe{
  grid-row: 1 / span 2;
}

.bottom-wireframe{
  align-self: end;
}
.skills-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.project p{
  grid-row: 2/span 1;
  align-self: flex-start;
}



.project-overview p{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.project-overview img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.styleguide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
 
}

@media (max-width: 25rem) {
  nav {
    flex-direction: column;
    max-width: 100%;
  }

  .contact-info{
    flex-direction: column;
  }

  .project{
    max-width: 90%;
  }

  .project img{
    max-width: 40%;
    height: auto;
  }
  
}

@media (max-width: 60.625rem) {
  

  .project{
    max-width: 90%;
  }

  .project img{
    max-width: 40%;
    height: 40%;
  }
  
}

@media (max-width: 20rem) {
  

  h1{
    font-size: 3rem;
  }

  .project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
  }

  .project a{
    width: 50%;
    font-size: 0.8rem;
  }

  .img{
    max-width: 95%;
    height: auto;
  }
  .project img{
    max-width: 95%;
    height: auto;
    align-self: center;
    justify-self: center;
    
  }

  .project h3{
    font-size: 2rem;
  }

  .project h4{
    font-size: 1rem;
  }

  .project p{
    font-size: 1rem;
  }
  
  h2{
    font-size: 2rem;
    max-width: 95%;
  }

  p, li{
    font-size: 1rem;
  }
}


@media (max-width: 48.688rem) {
  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    

  }

  img{
    max-width: 90%;
    height: auto;
    align-self: center;
  }
  .project-description{
    align-items: center;
  }

  .project a{
    width: 40%;
  }

  .project img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 29.375rem) {
  
  h1{
    font-size: 3rem;
  }

  .title p{
    font-size: 1.5rem;
  }
}

figcaption{
  color: white;
  margin-top: 0.5rem;
  font-family: 'Montserrat';
  text-align: center;

}