.logotype-ideation{
    display: grid;
    grid-template-columns: 2fr 1fr;    /* align-items: center; */
    
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.letterhead-wireframe{
    grid-column: 2;
}

.branding-book{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin: auto;
    max-width: 90%;
}